---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  misc-*,

  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-designated-initializers,
  -modernize-use-auto,
  -modernize-use-ranges,
  -modernize-macro-to-enum,
  -modernize-return-braced-init-list,
  -performance-no-int-to-ptr,
  -performance-enum-size,
  -portability-avoid-pragma-once,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-confusable-identifiers,
  -misc-use-scoped-lock,
  -bugprone-invalid-enum-default-initialization,
  -modernize-avoid-c-style-cast,
  -modernize-use-integer-sign-comparison,
  -modernize-use-scoped-lock,
  -modernize-use-std-print,
  -modernize-pass-by-value,
  -modernize-use-starts-ends-with,

CheckOptions:
  - key: performance-unnecessary-value-param.AllowedTypes
    value: ''

WarningsAsErrors: ''
HeaderFilterRegex: '(Engine|mycraft)/(include|src)/.*'
ExcludeHeaderFilterRegex: 'imgui|vcpkg_installed|vk_mem_alloc|volk|glad|SDL|glm|vulkan|assimp|stb'
FormatStyle: file