---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  misc-*,

  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-macro-parentheses,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -performance-no-int-to-ptr,
  -portability-avoid-pragma-once,
  -performance-enum-size,
  -modernize-use-nodiscard,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -misc-confusable-identifiers,
  -misc-use-scoped-lock,
  -modernize-use-designated-initializers,
  -modernize-use-auto,
  -modernize-use-ranges,
  -modernize-macro-to-enum,
  -modernize-return-braced-init-list,
  -bugprone-reserved-identifier,
  -performance-enum-size,
  -portability-avoid-pragma-once,

WarningsAsErrors: ''
HeaderFilterRegex: '(Engine|mycraft)/(include|src)/.*'

# ---- 命名检查（先不启用，值已配好，将来开时取消注释）----
# CheckOptions:
#   - key: readability-identifier-naming.ClassCase
#     value: CamelCase
#   - key: readability-identifier-naming.StructCase
#     value: CamelCase
#   - key: readability-identifier-naming.StructMemberCase
#     value: camelBack
#   - key: readability-identifier-naming.EnumCase
#     value: CamelCase
#   - key: readability-identifier-naming.EnumConstantCase
#     value: UPPER_CASE
#   - key: readability-identifier-naming.FunctionCase
#     value: CamelCase
#   - key: readability-identifier-naming.NamespaceCase
#     value: CamelCase
#   - key: readability-identifier-naming.PrivateMemberPrefix
#     value: 'm_'
#   - key: readability-identifier-naming.PrivateMemberCase
#     value: CamelCase
#   - key: readability-identifier-naming.PublicMemberCase
#     value: camelBack
#   - key: readability-identifier-naming.LocalVariableCase
#     value: camelBack
#   - key: readability-identifier-naming.ParameterCase
#     value: camelBack
#   - key: readability-identifier-naming.ConstexprVariableCase
#     value: CamelCase
#   - key: readability-identifier-naming.ConstexprVariablePrefix
#     value: 'k'
#   - key: readability-identifier-naming.GlobalConstantCase
#     value: UPPER_CASE